/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */
 .menugroup {
    background: rgba(1, 167, 34, 0.3);
}

.menugroup .button {
    background: rgb(224, 0, 41);
    color: #006921;
    font-family: Christmaseve
;
    text-shadow: 0px 0px 9px #00C903;
}

.menugroup .button:hover {
    background: rgb(122, 0, 0);
}

body,html {
    background: url("http://i.imgur.com/HaoQW4I.jpg");
}

ul.userlist {
    background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #850000 10px,
    #FF0000 20px
  ),
  linear-gradient(
    to top,
        transparent 10px,
    #808080,
    #FFF5F5
  );
}
button.type-Water {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#2706CC,#05CFFC);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Normal {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#534932,#d6d695);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Psychic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#b12a5d,#ff73ae);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Fire {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#8A4306,#FFA85C);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Electric {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#B8B51A,#FFFD7A);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Ice {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#0083A1,#BAF2FF);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Grass {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#005707,#73FF7E);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Poison {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#570050,#CC52C2);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Fighting {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#700C18,#C45A67);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Ground {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#826549,#E6D3C1);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Flying {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#6A5073,#D6C1DE);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Bug {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#618005,#B3D68D);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Rock {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#57421B,#B8975C);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Ghost {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#392D47,#7B7287);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Dragon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#4F14C4,#AB86F7);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Dark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#2B1E19,#7D685F);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Steel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#4F4F4F,#B3B3B3);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}

button.type-Fairy {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 10px;
    background-color: #EEEEEE;
    background: linear-gradient(#FF24E5,#FFA1F4);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
}


.menugroup .button:hover {
    background: rgb(0, 0, 15);
}

.menugroup .button {
    background: rgb(34, 34, 48);
    color: #6F00FF;
    text-shadow: 0px 0px 8px #A40FFA;
    font-family: cheapfire;
    -webkit-text-stroke: 0.009px #FFD30F;
    font-weight: bold;
    font-size: 15pt;
    letter-spacing: 1px;
}


.ps-room.ps-room-light {
    background: rgba(112, 6, 153, 0.31);
}
